@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bootstrap/scss/bootstrap";
$primary-color: #693;
$border-dark: rgba($primary-color, 0.88);

html,
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
  .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
  }
  * {
    transition: all 0.3s ease-out;
  }
  h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;

    &.small {
      font-size: 14px;
    }
    &.xsmall {
      font-size: 12px;
    }
  }
}







// * {
//   margin: 0;
//   box-sizing: border-box;
// }
// html,
// body {
//   height: 100%;
// }
// body {
//   background-color: #000;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 1rem;
// }
blockquote {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  p,
  cite {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p {
    font-family: Georgia;
    color: #fff;
    font-size: 2.7rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 2rem;
  }
  span {
    will-change: opacity;
    opacity: 0;
  }
  span.animate {
    opacity: 1;
    -webkit-filter: blur(0) !important;
  }
  cite {
    font-family: verdana;
    font-size: 0.9rem;
    color: #aaa;
    opacity: 0;
    font-style: normal;
    font-weight: 500;
  }
  cite.animate {
    opacity: 1;
  }
}






/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: $primary-color;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
