@import "../../styles/base";

blockquote {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  p,
  cite {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p {
    font-family: Georgia;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 0.5rem;
    font-style: italic;
    font-weight: 300;
    @include medium {
      font-size: 1.7rem;
      padding-bottom: 2rem;
      line-height: 35px;
    }
    &.title {
      font-size: 16px;
      @include medium {
        font-size: 1.7rem;
      }
    }
  }
  span {
    will-change: opacity;
    opacity: 0;
  }
  span.animate {
    opacity: 1;
    -webkit-filter: blur(0) !important;
  }
  cite {
    font-family: verdana;
    font-size: 0.9rem;
    color: #fff;
    // opacity: 0;
    font-style: normal;
    font-weight: 500;
    float: right;
  }
  cite {
    will-change: opacity;
    opacity: 0;
  }
  cite.animate {
    opacity: 1;
    -webkit-filter: blur(0) !important;
  }
}
