button {
  color: red;
}
.main, .modal-dialog {
  .form-check-input:checked {
    background-color: #669933;
    border-color: #669933;
  }
  .btn-primary {
    color: #fff;
    background-color: #669933;
    border-color: #669933;
    &:hover, &:focus, &:disabled {
      color: #fff;
      background-color: #4d7326;
      border-color: #73ac39;
    }
  }
}
