@import "../../styles/base";

.event-calendar {
  .fc-license-message {
    display: none !important;
  }
  .fc.fc-media-screen {
    min-height: 550px;
    .fc-h-event {
      border: 1px solid #669933;
      background-color: #669933;
      cursor: pointer;
    }
    .fc-daygrid-event {
      cursor: pointer;
      .fc-daygrid-event-dot {
        border: calc(8px / 2) solid #669933;
      }
    }
  }
  .events-tile.card {
    display: inline-flex;
  }
  .card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      color: inherit;
    }
  }
  .current.card {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #669933;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
    }
    &:hover:before {
      transform: scale(21);
    }
    &:hover {
      p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
      }
      h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
      }

    }
    .go-corner {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 32px;
      height: 32px;
      overflow: hidden;
      top: 0;
      right: 0;
      background-color: #669933;
      border-radius: 0 4px 0 32px;
    }
    .go-arrow {
      margin-top: -4px;
      margin-right: -4px;
      color: white;
      font-family: courier, sans;
    }
  }
  .archive.card {
    display: block;
    top: 0px;
    position: relative;
    width: 100%;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
